body {
    background: url(http://www2.sluh.org/bioweb/nh/biomes/openocean/15_10_46_web.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}

#battleBoard {
    border: black solid 2px;
    width: 400px;
    height: 400px;
    table-layout: fixed;
    background-color: black;
}

td {
    border: black solid 1px;
    /*padding: 0px;
    margin-top: 0px;*/
    height: 35px;
    background-color: white;
}

.torpedo {
    background-color: blue;
}

.hit {
    background-color: red;
}

#table, #torpedoUsed, #torpedoHits {
    float:left;
    margin: 50px;
}
.reveal {
    background-color: black;
}
